@model BCPAO.PhotoManager.Models.AccountViewModels.ForgotPasswordViewModel
@{
   ViewData["Title"] = "BCPAO: Recover Password";
   Layout = "_AccountLayout";
}

<div class="top-content">
   <div class="inner-bg">
      <div class="container">
         <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
               <h1>
                  @*<i class="fa fa-lock" aria-hidden="true"></i> <strong>BCPAO</strong> Recover Password*@
               </h1>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box" style="margin-top: 1px;">
               <div class="form-top">
                  <div class="form-top-left">
                     <h3>Login to Photo Manager</h3>
                     <p>Enter your username or email address and check your email address for instructions.</p>
                  </div>
                  <div class="form-top-right">
                     <i class="fa fa-key"></i>
                  </div>
               </div>
               <div class="form-bottom">
                  <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="login-form">
                     <div class="form-group">
                        <label asp-for="Email" class="sr-only">Username or Email Address</label>
                        <input asp-for="Email" class="form-username form-control" type="text" placeholder="Username or Email Address..." id="form-username" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                     </div>
                     <button type="submit" class="btn">Submit</button>
                     <div style="font-size: 0.7em; margin-top: 5px; text-align: right;">
                        <a asp-action="Login">LOGIN</a>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div style="font-size: 1em; margin-top: 10px;">
            Brevard County Florida Property Appraiser
         </div>
      </div>
   </div>
</div>

@section Scripts {
   @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
